@model Signal

<h2>Edit a signal</h2>

<form asp-action="Edit">

    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        @Html.EditorFor(model => model.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.X, new { @class = "control-label" })
        @Html.EditorFor(model => model.X, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Y, new { @class = "control-label" })
        @Html.EditorFor(model => model.Y, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>