@model LegoTrain.Models.Train

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Train</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NominalSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NominalSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Channel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Channel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Output)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Output)
        </dd>
    </dl>
    <form asp-action="DeleteConfirmed" asp-controller="Train" method="post">
        @Html.HiddenFor(model => model.Id)
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>