@model LegoTrain.Models.Train

<h2>Train details</h2>

<div>    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NominalSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NominalSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Channel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Channel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Output)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Output)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>